<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск треков</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Поиск песен</h1>
    <a href="/search">Вернуться назад</a>
    <div th:each="track :${findTracks}" class="trackitem">
        [[${track.getTrackName()}]]
        <!--        Написать добавление в коллекцию-->
        <span>+</span>
    </div>
</div>
</body>
</html>