<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Автор: [[${creator.getCreatorName()}]]</h1>
    <div class="menuitemcontainer">
        <div class="menuitem">
            <a class="backButton" href="/my_collection/creators/"><img src="/imgs/backButton.svg"></a>
        </div>
    </div>
    <h3>Альбомы:</h3>
    <div class="tracklistitem" th:each="tracklist :${tracklists}">
        <img th:src="@{/imgs/list.svg}">
        <span class="creatoritemtext">
                  <a th:href="@{'/my_collection/tracklists/'+${tracklist.getId()}}">[[${tracklist.getName()}]]</a>
               <span th:text="' - ' + ${tracklist.getTracklistType.getTracklistTypeName()} +
               ' - ' +
               ${tracklist.getGenre().getGenreName()}"></span>
            </span>
    </div>
</div>

</body>
</html>