<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Привет, [[${user.getName()}]]</h1>
    <div class="menuitemcontainer">
        <div style="background-color: #FF2D55" class="menuitem">
            <a href="/logout"><img src="imgs/exit.svg"></a>
        </div>
        <div class="menuitem">
            <a href="/user_page">Пользователь</a>
        </div>
        <div class="menuitem">
            <a href="/my_collection">Библиотека</a>
        </div>
        <div class="menuitem">
            <a href="/search">Поиск</a>
        </div>
        <div class="menuitem">
            <a href="/subscriptions">Подписки</a>
        </div>
        <div th:if="${user.isAuthority('MUSICIAN')}" class="menuitem">
            <a href="/musician_panel">Панель музыканта</a>
        </div>
    </div>
</div>
</body>
</html>