<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Hello [[${user.getName()}]]</h1>
    <a href="/user_page">Страница пользователя</a><br>
    <a href="/my_collection">MyCollection</a>
    <a href="/recomendation">Рекомендации</a>
    <a href="/search">Search</a>
    <a href="/whatsnew">What's new</a>
    <a href="/musician_panel"
        th:if="${user.isAuthorityName('MUSICIAN')}">Musician panel</a>
    <a href="/admin_panel/users"
        th:if="${user.isAuthorityName('ADMIN')}">Admin panel</a>
</div>
</body>
</html>