<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель музыканта</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Панель музыканта</h1>
    <div class="menuitemcontainer">
        <div class="menuitem">
            <a class="backButton" href="/mainpage"><img src="/imgs/backButton.svg"></a>
        </div>
        <div class="menuitem">
            <a href="/musician_panel/tracks">Треки</a>
        </div>
        <div class="menuitem">
            <a href="/musician_panel/tracklists">Альбомы</a>
        </div>
        <div class="menuitem">
            <a href="/musician_panel/genres">Жанры</a>
        </div>

    </div>
</div>
</body>
</html>