<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My collection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>[['Коллекция ' + ${user.getName()}]]</h1>
    <div class="menuitemcontainer">
        <div class="menuitem">
            <a style="text-decoration: none" href="/mainpage"><img src="/imgs/backButton.svg"></a>
        </div>
        <div class="menuitem">
            <a href="my_collection/tracks">Композиции</a>
        </div>
        <div class="menuitem">
            <a href="my_collection/tracklists">Альбомы</a>
        </div>
        <div class="menuitem">
            <a href="my_collection/genres">Жанры</a>
        </div>
        <div class="menuitem">
            <a href="my_collection/creators">Авторы</a>
        </div>
    </div>
</div>
</body>
</html>