<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My collection</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>[['Коллекция ' + ${user.getName()}]]</h1>
    <menu>
        <a class="backButton" href="/mainpage"><img src="/imgs/backButton.svg"></a>
        <a href="my_collection/tracks">Tracks</a>
        <a href="my_collection/tracklists">Albums</a>
        <a href="my_collection/genres">Genres</a>
        <a href="my_collection/creators">Creators</a>
    </menu>
</div>
</body>
</html>