<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Search Page</h1>
    <a href="mainpage">На главную</a>
    <form class="editonefield">
        <label>Искать по Автору</label>
        <input type="text" placeholder="Автор">
        <button type="submit">Искать!</button>
    </form>
    <form class="editonefield">
        <label>Искать по названию альбома</label>
        <input type="text" placeholder="Автор">
        <button type="submit">Искать!</button>
    </form >
    <form class="editonefield">
        <label>Искать по названию композиции</label>
        <input type="text" placeholder="Автор">
        <button type="submit">Искать!</button>
    </form>
</div>
</body>
</html>