<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Search Page</h1>
    <menu>
        <a class="backButton" href="/mainpage"><img src="/imgs/backButton.svg"></a>
    </menu>
    <form method="GET" action="/search/tracks" class="editonefield">
        <label>Искать композицию</label>
        <input name="name" type="text" placeholder="Композиция">
        <button type="submit">Искать!</button>
    </form>
</div>
</body>
</html>