<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Страница регистрации</h1>
    <div class="menuitemcontainer">
        <div class="menuitem">
            <a href="/sign_in">Уже зарегистрированы?</a>
        </div>
    </div>
    <div class="login_container">
        <div class="login_box">
            <form method="POST" action="/sign_up">
                <label>Имя пользователя</label>
                <input type="text" name="username" class="form-control" placeholder="Имя пользователя"><br>
                <label>Пароль</label>
                <input type="password" name="password" class="form-control" placeholder="Пароль"><br>
                <label>Ник</label>
                <input type="text" name="name" value="<empty>" class="form-control" placeholder="Ник"><br>
                <button type="submit" class="btn btn-primary">Зарегистрироваться!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>