<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя [[${user.getName()}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Привет, [[${user.getName()}]]</h1>
    <menu>
        <a class="backButton" href="/mainpage"><img src="/imgs/backButton.svg"></a>
    </menu>
    <h3>Изменить ник</h3>
    <div class="editonefield">
        <form method="POST" action="user_page/change_name">
            <label>Новый ник:</label>
            <input type="text" name="name" th:value="${user.getName()}" placeholder="Ник">
            <button type="submit">Изменить!</button>
        </form>
    </div>
    <h3>Изменить пароль</h3>
    <div class="edittwofield">
        <form method="POST" action="user_page/change_password">
            <label>Старый пароль:</label>
            <input type="text" name="oldPassword" placeholder="Старый пароль"><br>
            <label>Новый пароль:</label>
            <input type="text" name="newPassword" placeholder="Новый пароль">
            <button type="submit">Изменить!</button>
        </form>
    </div>
    <h3>Привязать Telegram</h3>
    <p>Для получения новостей об альбомах артистов на которых ты подписан</p>
    <a href="https://t.me/Musician_WhatsNew_bot">Ссылка на запуск бота</a>
    <div class="telegramEditField">
        <form method="POST" action="/user_page/addTelegram">
            <label>Аккаунт Telegram: @</label>
            <input type="text" name="telegramName" th:value="${user.getTelegramName()}" placeholder="nickname">
            <button type="submit">Сохранить!</button>
        </form>
        <div>
            <span th:if="${user.isTelegramConnect()}">Подключен</span>
            <span th:if="${!user.isTelegramConnect()}">Не подключен</span>
            <a href="/user_page/telegramCheck">Проверить</a>
        </div>
    </div>
    <h3>Исполнители добавленные тобой:</h3>
    <div class="itemContainer">
        <div class="creatoritem" th:each="creator :${user.getCreators()}">
            <img th:src="@{/imgs/creator.svg}">
            <span class="creatoritemtext">[[${creator.getCreatorName()}]]</span>
        </div>
        <div class="creatoritem">
            <img th:src="@{/imgs/creator.svg}">
            <form method="POST" action="user_page/become_creator">
                <input name="creatorName" placeholder="Добавить исполнителя">
                <button type="submit">Добавить исполнителя!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>