<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Genres</h1>
    <form method="POST" action="/musicianpanel/genres/add">
        <input type="text" name="genreName">
        <button type="submit">Добавить!</button>
    </form>
    <div class="genreitem" th:each="genre :${genres}">
        <div>
            <span th:text="${genre.getGenreName()}"></span>
            <a style="height: 34px; border-radius: 40px; background-color: #FF3B30"
               th:href="@{'genres/delete/' + ${genre.getGenreId()}}">Del!</a>
        </div>
    </div>
    <a href="/musician_panel">Назад к панели музыканта</a>
</div>
</body>
</html>