<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Жанры</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Жанры</h1>
    <div class="menuitemcontainer">
        <div class="menuitem">
            <a class="backButton" href="/musician_panel"><img src="/imgs/backButton.svg"></a>
        </div>
    </div>
    <div class="editonefield">
        <form method="POST" action="/musician_panel/genres/add">
            <label>Новый жанр</label>
            <input type="text" name="genreName">
            <button type="submit">Добавить!</button>
        </form>
    </div>
    <div class="itemContainer">
        <div class="genreitem" th:each="genre :${genres}">
            <div>
                <span th:text="${genre.getGenreName()}"></span>
                <form method="GET" th:action="'/musician_panel/genres/delete/'+${genre.getGenreId()}">
                    <button style="border-radius:32px" type="submit"><img src="/imgs/trashbin.svg"></button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>