<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Композиции</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Композиции</h1>
    <div class="menuitemcontainer">
        <div class="menuitem">
            <a class="backButton" href="/musician_panel"><img src="/imgs/backButton.svg"></a>
        </div>
        <div class="menuitem">
            <a href="/musician_panel/tracks/addNewTrack">Добавить новую композицию</a>
        </div>
        <div class="menuitem">
        <a href="/musician_panel">Назад к панели музыканта</a>
        </div>
    </div>
    <div class="itemContainer">
        <div class="trackitem" th:each="track :${tracks.getTracks()}">
            <img th:src="@{/imgs/note.svg}">
            <a th:href="@{'/musician_panel/tracks/'+${track.getTrackId()}}"><span class="creatoritemtext">[[${track.getTrackName()}]]</span></a>
            <span>Жанр:[[${track.getGenre().getGenreName()}]]</span>
            <form method="POST" th:action="@{'/musician_panel/tracks/delete/'+${track.getTrackId()}}">
                <button style="border-radius:32px" type="submit"><img src="/imgs/trashbin.svg"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>