<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Альбомы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Альбомы</h1>
    <menu>
        <a class="backButton" href="/musician_panel"><img src="/imgs/backButton.svg"></a>
        <a href="/musician_panel/tracklists/addNewTracklist">Добавить новую коллекцию композиций</a>
    </menu>
    <div class="itemContainer">
        <div class="tracklistitem" th:each="tracklist :${tracklists}">
            <img th:src="@{/imgs/list.svg}">
            <a th:href="'/musician_panel/tracklists/'+${tracklist.getId()}" th:text="${tracklist.getName()}"></a>
            <span> - </span>
            <span th:text="${tracklist.getTracklistType().getTracklistTypeName()}"></span>
            <span> - </span>
            <span th:text="${tracklist.getGenre().getGenreName()}"></span>
            <form method="POST" th:action="'/musician_panel/tracklists/delete/'+${tracklist.getId()}">
                <button type="submit">Del!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>