<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracklist name</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1 th:text="${tracklist.getName()}"></h1>
    <menu>
        <a class="backButton" href="/musician_panel/tracklists"><img src="/imgs/backButton.svg"></a>
    </menu>
    <span th:text="${tracklist.getTracklistType().getTracklistTypeName()}"></span>
    <span th:text="${tracklist.getGenre().getGenreName()}"></span>
    <div class="editonefield">
        <form method="POST" th:action="'/musician_panel/tracklists/' + ${tracklist.getId()}">
            <input type="text" name="itemName" th:value="${tracklist.getName()}">
            <button type="submit">Edit!</button>
        </form>
    </div>
    <h3>Авторы:</h3>
    <div class="creatoritem" th:each="creator :${tracklist.getCreators()}">
        <img th:src="@{/imgs/creator.svg}">
        <span class="creatoritemtext">[[${creator.getCreatorName}]]</span>
        <form method="POST" th:action="'/musician_panel/tracklists/delCreator/' + ${tracklist.getId()}">
            <input type="hidden" name="creatorId" th:value="${creator.getId()}">
            <button type="submit">Del!</button>
        </form>
    </div>
    <form method="POST" th:action="'/musician_panel/tracklists/addCreator/' + ${tracklist.getId()}">
        <select name="creatorId">
            <option th:each="creator :${userCreators.getCreators()}" th:value="${creator.getId()}" >[[${creator.getCreatorName()}]]</option>
        </select>
        <button type="submit">Добавить!</button>
    </form>
    <h3>Треки:</h3>
    <div class="trackitem" th:each="track :${tracklist.getTracks()}">
        <img th:src="@{/imgs/note.svg}">
        <a th:href="@{'/musician_panel/tracks/'+${track.getTrackId()}}"><span class="creatoritemtext">[[${track.getTrackName()}]]</span></a>
        <span>Жанр:[[${track.getGenre().getGenreName()}]]</span>
        <form method="POST" th:action="'/musician_panel/tracklists/delTrack/' + ${tracklist.getId()}">
            <input type="hidden" name="trackId" th:value="${track.getTrackId()}">
            <button type="submit">Del!</button>
        </form>
    </div>
    <form method="POST" th:action="'/musician_panel/tracklists/addTrack/' + ${tracklist.getId()}">
        <select name="trackId">
            <option th:each="usertrack :${userTracks.getTracks()}" th:value="${usertrack.getTrackId()}" >[[${usertrack.getTrackName()}]]</option>
        </select>
        <button type="submit">Добавить!</button>
    </form>
</div>
</body>
</html>