<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Жанры</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Все Жанры</h1>
    <div class="menuitemcontainer">
        <div class="menuitemcontainer">
            <a class="backButton" href="/my_collection"><img src="/imgs/backButton.svg"></a>
        </div>
    </div>
    <div class="itemContainer">
        <div class="trackitem" th:each="genre :${genres}">
            <img th:src="@{/imgs/note.svg}">
            <span class="creatoritemtext"
                  th:text="${genre.getGenreName()}"></span>
        </div>
    </div>
</div>
</body>
</html>