<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую комопзицию</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Добавление новой композиции в сервис</h1>
    <div class="menuitemcontainer">
        <div class="menuitem">
            <a class="backButton" href="/musician_panel/tracks"><img src="/imgs/backButton.svg"></a>
        </div>
    </div>
    <div class="login_container">
        <div class="login_box">
            <form method="POST" action="addNewTrack">
                <input type="text" name="track_name" placeholder="Название композиции"><br>
                <input type="text" name="count_of_play" placeholder="Количество прослушиваний"><br>
                <select name="genre">
                    <option th:each="genre :${genres}" th:value="${genre.getGenreName()}">[[${genre.getGenreName()}]]
                    </option>
                </select><br>
                <button type="submit">Добавить песню!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>