* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system;
}
body {
    background-image: linear-gradient(-45deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%);
    width: auto;
    height: auto;
}

.container {
    display: block;
    max-width: 1170px;
    width: 100%;
    height: 80vh;
    margin: 10vh auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff7d;
    background-blend-mode: overlay;
    backdrop-filter: blur(33px);
    -webkit-backdrop-filter: blur(33px);
}

a {
    text-decoration: none;
    display: inline-block;
    background-color: #007AFF;
    padding: 14px 20px;
    height: 50px;
    border-radius: 12px;
    color: white;
    margin: 8px;
}

h1 {
    text-align: center;
    font-size: 24pt;
}
h3 {
    text-align: left;
}

.genreitem {
    display: block;
    background-color: white;
    height: 60px;
    width: 320px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.trackitem {
    display: block;
    background-color: white;
    height: 60px;
    width: 320px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.tracklistitem {
    display: block;
    background-color: white;
    height: 60px;
    width: 320px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.creatoritem {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    height: 60px;
    width: 320px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.creatoritemtext {
    margin-left: 10px;
    font-size: 12pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.creatoritemtext:hover {
    color: gray;
}
.creatoritemtext:active {
    color: #FF2D55;
}
.editonefield {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    height: 44px;
    font-size: 17px;
    width: 345px;
    border-radius: 10px;
    padding: 10px;
}
.edittwofield {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    height: 68px;
    font-size: 17px;
    width: 345px;
    border-radius: 10px;
    padding: 10px;
}