* {
    margin: 0;
    padding: 0;
    font-family: -apple-system;
}
body {
    background-image: linear-gradient(-45deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%);
    width: auto;
    height: auto;
}

.container {
    display: block;
    max-width: 1170px;
    width: 100%;
    height: 80vh;
    margin: 10vh auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff7d;
    background-blend-mode: overlay;
    backdrop-filter: blur(33px);
    -webkit-backdrop-filter: blur(33px);
}

.menuitemcontainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 70px;
}
.menuitem {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
    text-align: center;
    background-color: #F2F2F7;
    border-radius: 12px;
    padding: 0 20px ;
}

.login_container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: start;
}

.login_box {
    display: flex;
    justify-content: left;
    align-content: start;
}


h1 {
    text-align: center;
    font-size: 24pt;
}
h3 {
    text-align: left;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.genreitem {
    display: flex;
    direction: ltr;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 60px;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}
.trackitem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 360px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;

}
.tracklistitem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.creatoritem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 60px;
    width: 256px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.creatoritemtext {
    margin-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.creatoritemtext:hover {
    color: gray;
}
.creatoritemtext:active {
    color: #FF2D55;
}
.editonefield {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    height: 44px;
    font-size: 17px;
    width: 345px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
}
.edittwofield {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
    height: 68px;
    font-size: 17px;
    width: 345px;
    border-radius: 10px;
    padding: 10px;
}

.telegramEditField {
    display: flex;
    direction: ltr;
    align-items: center;
    text-align: left;
    background-color: white;
    height: 44px;
    font-size: 17px;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
}